@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tebrikler Sınavı Tamamladınız!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            text-align: center;
            padding: 50px 100px;
        }

        h1 {
            color: #0d6efd;
        }

        p {
            color: #555;
        }

        .contact {
            margin-top: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Tebrikler Sınavı Tamamladınız!</h1>
        <p>Sayın Adayımız,</p>
        <p>Sınavımıza yalnızca bir kez giriş yapma hakkınız bulunmaktadır. Sistemimizdeki kayıtlara göre, bu sınava daha önce giriş yaptığınız tespit edilmiştir.</p>
        <p>Eğer bu durumun bir hata olduğunu düşünüyorsanız veya bu konuda herhangi bir sorunuz varsa, lütfen eğitim danışmanınız ve ilgili şube yönetimi ile iletişime geçiniz.</p>
        <p>Anlayışınız ve iş birliğiniz için teşekkür eder, başarılar dileriz.</p>
        <br />
        <p class="contact">Saygılarımızla,<br>Bilge Adam Akademi</p>
    </div>
</body>
</html>
