@{
    ViewData["Title"] = SharedLocalizer["Exam"];
    Layout = "";

}
<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />


<body>
    <div id="root">

        <main>


      
                <div class="container position-absolute top-50 start-50 translate-middle">
                    <div class="row bg-light p-lg-5 py-5 w-100 text-center">
                        <h3 class="text-center">Sınava giriş hakkınızı doldurdunuz.</h3>
                    </div>
                </div>
            


        </main>

        <footer>
            <div class="logo-ba">
                <img src="~/images/BATeknoloji_Logo_RGB.png"
                     alt="Bilgeadam Teknoloji" />
            </div>
        </footer>
 
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

 


    
</body>





