@model BAExamApp.MVC.Areas.Admin.Models.DashboardVMs.DashboardNoteVM

@{
    ViewData["Title"] = ViewLocalizer["Create_New"];
}

<!-- Modal -->
<div class="modal fade" id="noteDetailModal" tabindex="-1" aria-labelledby="noteDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <!-- Modal genişliğini ve konumunu ayarlandı -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="noteDetailModalLabel">@SharedLocalizer["Note_Details"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- İçeriği daha okunabilir yapmak için bir kart stili eklendi -->
                <div class="card">
                    <div class="card-body">
                        <h5 id="noteTitle" class="card-title text-center text-primary"></h5>
                        <p id="noteContent" class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a id="btnNoteDelete" class="btn btn-danger align-self-center ms-2 deleteAction">@SharedLocalizer["Delete"]</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>



