
.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    border: 1px dashed #d3d3d3;
    background-color: #f5f8fa;
}

#imagePlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

    #imagePlaceholder > span > i {
        font-size: 36px;
        color: #a1a5b7;
    }

    #imagePlaceholder > p {
        color: #a1a5b7;
        margin-top: 30px;
    }

#removeImageButton {
    position: absolute;
    background-color: #dc3545 !important;
    bottom: -10px;
    right: -10px;
    display: none;
}

#uploadImageButton {
    position: absolute;
    background-color: #007bff !important;
    top: -10px;
    right: -10px;
    z-index: 1;
}

    #removeImageButton > i,
    #uploadImageButton > i {
        font-size: 12px;
        color: white !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

#previewImage {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
}



